* {
    font-family: 'Open Sans', sans-serif;
}

body {
    margin: 10%;
}

h1 { 
    font-size: 35px;
    font-weight: 700;
    font-style: normal;
    line-height: 1em;

}

h2 {
    font-size: 20px;
    font-weight: 600;
    font-style: normal;
    
}

h3 {
    font-size: 20px;
    font-weight: 600;
    font-style: normal;
    margin-bottom: 8%;

}

.section-header {
    font-size: 25px;
    font-weight: 700;
}

.specific {
    font-size: 15px;
    font-weight: 500;
    color: grey;
    margin-top: 3%;
    margin-bottom: 2%;
}

#weight-light {
    font-weight: 300;
    margin-bottom: 8%;
}

#weight-normal {
    font-weight: 400;
    margin-bottom: 8%;
}

#weight-bold {
    font-weight: 700;
    margin-bottom: 8%;
}

#style-normal {
    font-style: normal;
    margin-bottom: 8%;
}

#style-italic {
    font-style: italic;
    margin-bottom: 8%;
}

#space-normal {
    letter-spacing: normal;
    margin-bottom: 8%;
}

#space-two {
    letter-spacing: .3em;
    margin-bottom: 8%;
}

#space-three {
    letter-spacing: -0.06;
    margin-bottom: 8%;
}

#text-none {
    text-decoration: none;
    margin-bottom: 8%;
}

#text-underline {
    text-decoration: underline;
    margin-bottom: 8%;
}

#text-linethrough {
    text-decoration: line-through;
    margin-bottom: 8%;
}

#text-overline {
    text-decoration: overline;
    margin-bottom: 8%;
}

#text-uppercase {
    text-transform: uppercase;
    margin-bottom: 8%;
}

#text-lowercase {
    text-transform: lowercase;
    margin-bottom: 8%;
}

#text-capitalize {
    text-transform: capitalize;
    margin-bottom: 8%;
}