.body {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
}

.container {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
}

.banner {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
    max-width: 1500px;
    margin-top: 3%;
    padding-left: 200px;
    padding-right: 200px;
}

.section {
    margin: 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

a {
    text-decoration: none;
    color: black;
}

.title {
    font-family: cursive;
    font-size: 150px;
    text-align: center;
    color: #8a3720;
    margin-top: 10px;
    margin-bottom: 70px;
}

.introduction {
    display: flex;
    flex-flow: row nowrap;
    margin: auto;
    width: auto;
}

.intro_text {
    float: left;
    max-width: 450px;
    margin-left: 50px;
    margin-right: 40px;
}

.intro_text>* {
    margin-top: 10px;
    margin-bottom: 10px;
}

.intro_subheading {
    font-size: 30px;
    font-weight: 700;
    color: #8a3720;
}

.intro_subheading2 {
    font-size: 20px;
    color: #8a3720;
}

.intro_content {
    font-family: proxima-nova, sans-serif;
    font-size: 15px;
}

.intro_pic img {
    max-width: 400px;
    box-shadow: 10px 10px 5px #484848;
    margin: auto;
}

.horizontal_line {
    justify-self: center;
    width: 80%;
    border-bottom: 3px solid #8a3720;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
}

.tiles_area {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
}

.tiles img {
    max-width: 250px;
    height: 250px;
}

.tile_text {
    font-family: proxima-nova, sans-serif;
    font-size: 25px;
    font-weight: 1000;
    color: #e2d3ab;
    margin-bottom: 30px;
    width: 230px;
}

.tiles {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 500px;
    background-color: #8a3720;
    margin-left: 20px;
    margin-right: 20px;
    box-shadow: 10px 10px 5px #484848;
}

.learn_more {
    height: 25px;
    width: 100px;
    background-color: #e2d3ab;
    color: #8a3720;
    margin-top: 40px;
    font-family: sans-serif;
    font-size: 13px;
    text-align: center;
    align-items: center;
    line-height: 25px;
}

.learn_more:hover {
    transform: scale(0.98);
    box-shadow: 3px 2px 22px 1px rgba(0,0,0,0.24);
}

.calligraphy_uses {
    display: flex;
    flex-flow: row no6ap;
    justify-content: space-around;
    margin-top: 110px;
}

.uses_text {
    font-family: cursive;
    font-size: 12px;
    color: #8a3720;
}

.footer {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: -10px;
    margin-right: -10px;
    margin-left: -10px;
    height: 140px;
    background-color: #8a3720;
}

.credits_area {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}

.resources {
    font-family: sans-serif;
    text-align: center;
    line-height: 12px;
    font-size: 12px;
    margin-bottom: 10px;
    margin-top: 10px;
}

.credits {
    font-family: sans-serif;
    font-size: 12px;
    margin-left: 10px;
    margin-right: 10px;
}

/* design for other tabs */

.content_subheading {
    font-size: 30px;
    font-weight: 700;
    color: #8a3720;
    margin-top: 40px;
    margin-bottom: 20px;
    margin-left: 50px;
    margin-right: 50px;
}

.content_subheading2 {
    font-size: 20px;
    color: #8a3720;
    margin-left: 50px;
    margin-right: 50px;
}

.content_main {
    font-family: proxima-nova, sans-serif;
    font-size: 15px;
    line-height: 25px;
    margin-top: 10px;
    margin-bottom: 30px;
    margin-left: 50px;
    margin-right: 50px;
}

/* tools */

.tools_list {
    font-family: proxima-nova, sans-serif;
    font-size: 20px;
    font-weight: bolder;
    line-height: 30px;
    margin-bottom: 30px;
    margin-left: 10px;
    margin-right: 50px;
}

.tools_pic img {
    max-width: 400px;
    box-shadow: 10px 10px 5px #484848;
    margin-top: 40px;
    margin-bottom: 40px;
    margin-left: 100px;
    margin-right: 00px;
}

/* traditions */

.eastasiancal_pic img {
    max-width: 500px;
    box-shadow: 10px 10px 5px #484848;
    margin-top: 30px;
    margin-bottom: 80px;
    margin-left: 50px;
    margin-right: 00px;
}

.islamiccal_pic img {
    max-width: 400px;
    box-shadow: 10px 10px 5px #484848;
    margin-top: 30px;
    margin-bottom: 80px;
    margin-left: 50px;
    margin-right: 00px;
}

.westerncal_pic img {
    max-width: 400px;
    box-shadow: 10px 10px 5px #484848;
    margin-top: 30px;
    margin-bottom: 80px;
    margin-left: 50px;
    margin-right: 00px;
}

/* modern day */

.writingillum_pic img {
    max-width: 300px;
    box-shadow: 10px 10px 5px #484848;
    margin-top: 40px;
    margin-bottom: 40px;
    margin-left: 360px;
}

/* responsive for home */

@media (max-width: 1100px) {

    .title {
        font-family: cursive;
        font-size: 90px;
        text-align: center;
        color: #8a3720;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .banner {
        display: block;
        margin-left: -150px;
        font-size: 13px;
    
    }

    .intro_text {
        align-self: center;
        max-width: 450px;
        margin-left: 100px;
        margin-right: 100px;
        
    }

    .introduction {
        display: flex;
        flex-flow: column nowrap;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .intro_content {
        max-width: 700px;
    }

    .intro_pic {
        align-self: center;
    }

    .intro_pic img {
        max-width: 380px;
        margin-left: 50px;
        margin-right: 50px;
        margin-top: 20px;
    }

    .tiles_area {
        flex-flow: column nowrap;
    }

    .tiles {
        margin-top: 10px;
        margin-bottom: 10px;
        align-self: center;
    }
    
}

@media (max-width: 1325px) {
    .footer {
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        margin-top: 20px;
        height: 150px;
        background-color: #8a3720;
        padding-left: 30px;
        padding-right: 30px;
    
    }
    
    .credits_area {
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: center;
    }
    
    /*
    .resources {
        font-family: sans-serif;
        text-align: center;
        line-height: 40px;
        font-size: 12px;
        
    }
    
    .credits {
        font-family: sans-serif;
        margin-top: 50px;
        margin-left: 12px;
        margin-right: 12px;
        font-size: 12px;
        
    }
    */
}

/* responsive for others */

@media (max-width: 1130px) {

    .content {
        align-self: center;
        max-width: 700px;
        margin-left: 100px;
        margin-right: 100px;
        padding-left: 60px;
        
    }
    .tools_pic img {
        align-self: center;
        max-width: 280px;
        box-shadow: 10px 10px 5px #484848;
        margin-left: -10px;
        margin-right: 100px;
        margin-top: 40px;
        margin-bottom: 40px
    }

    .tools_pic {
        padding-left: 60px;
    }

    .eastasiancal_pic {
        align-self: center;
    }

    .eastasiancal_pic img {
        max-width: 250px;
        margin-left: 50px;
        margin-right: 50px;
        margin-top: 20px;
        margin-bottom: 100px;
    }

    .islamiccal_pic {
        align-self: center;
    }

    .islamiccal_pic img {
        max-width: 250px;
        margin-left: 50px;
        margin-right: 50px;
        margin-top: 20px;
        margin-bottom: 100px;
    }

    .westerncal_pic {
        align-self: center;
    }

    .westerncal_pic img {
        max-width: 250px;
        margin-left: 50px;
        margin-right: 50px;
        margin-top: 20px;
        margin-bottom: 100px;
    }

    .writingillum_pic img {
        max-width: 200px;
        box-shadow: 10px 10px 5px #484848;
        margin-top: 40px;
        margin-bottom: 40px;
        margin-left: 210px;
        margin-right: 150px;
    }

}